/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
	height: 450px
}


/* Set gray background color and 100% height */

.sidenav {
	padding-top: 20px;
	margin-bottom: 0px;
	background-color: #f1f1f1;
	height: 100%;
}


/* Set black background color, white text and some padding */

footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

.icon {
    width: 4em;
	height: auto;
	margin: auto;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}