<!DOCTYPE html>
<html lang="en">
<head>
  <title>TOHacks2020</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="sources/style.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"></a><img src="/sources/icon.png" class="icon"></img></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content" id="main">
    <div class="col-sm-2 sidenav">
      <p> TOHacks 2020 </p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1><center>Dialek.tech</h1>
      <audio controls>
        <source src="/uploads/audio.mp3" type="audio/mpeg">
      </audio>
      <h2>Transcription</h2>
      <p id="transcription">
        <div id="transcription-loader" class="loader"></div>
      </p>
      <strong>Enter a question:</strong><br/>
      <textarea id="question"></textarea><br/>
      <button onclick="askQuestion()">Ask question!</button>
      <p id="answer"></p>
    </div>
    <div class="col-sm-2 sidenav">
      <p>TOHacks 2020</p>
    </div>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  (async() => {
    const response = await axios.get('/transcription', {
      timeout: 180000
    });
    console.log(response);
    document.getElementById('transcription').innerHTML = response.data.data;
    document.getElementById('transcription-loader').style.display = 'none';
  })();

  async function askQuestion() {
    const question = document.getElementById('question').value;
    const response = await axios({
      method: 'post',
      url: '/question',
      data: {
        question
      }
    });
    document.getElementById('answer').innerHTML = `
      <strong>Start: </strong>${response.data.start}<br/>
      <strong>End: </strong>${response.data.end}<br/>
      <strong>Text: </strong>${response.data.text}<br/>
    `;
  }
</script>

<footer class="container-fluid text-center">
  <p><a href="https://github.com/kevinjycui/TOHacks-Submission"><img class="icon" src="sources/github.png"></img></a></p>
</footer>

</body>
</html>